services:
  influxdb:
    image: influxdb:1.8
    ports:
      - "8086:8086"
    volumes:
      - influxdb_data:/var/lib/influxdb
    environment:
      - INFLUXDB_DB=k6
      - INFLUXDB_ADMIN_USER=admin
      - INFLUXDB_ADMIN_PASSWORD=password

  grafana:
    image: grafana/grafana:latest
    ports:
      - "3000:3000"
    volumes:
      - grafana_data:/var/lib/grafana
      - ./grafana/provisioning:/etc/grafana/provisioning
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=admin
      - GF_AUTH_ANONYMOUS_ENABLED=true
      - GF_AUTH_ANONYMOUS_ORG_ROLE=Admin
    depends_on:
      - influxdb

  k6:
    image: grafana/k6:latest
    ports:
      - "6565:6565"
    volumes:
      - ./script.js:/scripts/script.js
    environment:
      - K6_VUS=10
      - K6_DURATION=30s
    command: run -v -o influxdb=http://influxdb:8086/k6 /scripts/script.js
    depends_on:
      - influxdb
    networks:
      - default

volumes:
  influxdb_data:
  grafana_data: